.search {
    -webkit-appearance: none;
    border: 1px black solid;
    border-radius: 50px;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }